<?xml version="1.0" encoding="UTF-8"?>
<loginTicketRequest version="1.0">
  <header>
    <uniqueId>{{UNIQUE_ID}}</uniqueId>
    <generationTime>{{GENERATION_TIME}}</generationTime>
    <expirationTime>{{EXPIRATION_TIME}}</expirationTime>
  </header>
  <service>{{SERVICE}}</service>
</loginTicketRequest>
